In [3]:
Firstname = "Tony"
Lastname = "Stark"
age = 51
is_genius = True

name  = input("What is your name : ")
print("Hello " + name)
print("Welcome")

What is your name : Sanchari
Hello Sanchari
Welcome

In [6]:
first = input("First number : ")
second = input("Second num: ")

sum1 = first + second #string
sum2 =int(first) + int(second)
print(sum1)
print(sum2)

First number : 1
Second num: 2
12
3

In [8]:
name = "Sanchari"
print(name.upper())
print(name.find('S'))

SANCHARI
0

In [10]:
name = "Sanchari Ray"
print(name.replace('S','R'))

Ranchari Ray

In [12]:
name = "Sanchari Ray"
print('A' in name)

False

In [13]:
#operators
print(5+2)

7

In [14]:
print(5//2) #only integer --> //

2

In [15]:
print(5**2) #5 to the power 2

25

In [17]:
result = 2+3*5 # * higher precedence
print(result)

17

In [20]:
print(3>2)
print(3<=2)

True
False

In [21]:
print(3==2)

False

In [22]:
print(3!=2)

True

In [23]:
print(2>3 or 2>1)

True

In [24]:
print (2>3 and 2>1)

False

In [25]:
print(not 2>3)

True

In [29]:
# if else statements
age = 2
if age >= 18:
  print("You are an adult")
  print("You can vote")
elif age < 18 and age > 3:
  print("You are in school")
else:
  print("You are a kid")

You are a kid

In [31]:
# building calculator

first = input("Enter first number : ")
operator = input("Enter operator(+,-,/,%) : ")

second = input ("Enter sec num : ")
first = int(first)
second= int(second)


if operator == "+":
  print(first + second)
elif operator == "-":
  print(first - second)
elif operator == "/":
  print(first / second)
elif operator == "%":
  print(first % second)
else:
  print("Invalid Opeartor.")

Enter first number : 2
Enter operator(+,-,/,%) : +
Enter sec num : 3
5

In [33]:
#range

num = range(5)
print(num)

range(0, 5)

In [2]:
#loop

i = 1
while i <= 100 :
  print(i)
  i= i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [3]:
i = 1
while i <= 5:
  print(i * "*")
  i=i+1

*
**
***
****
*****

In [4]:
i =5
while i>= 0 :
  print(i*"*")
  i=i-1

*****
****
***
**
*

In [6]:
for i in range(5):
  print (i)
  print(i+1)

0
1
1
2
2
3
3
4
4
5

In [14]:
#list

marks = [95, 98, 97,"maths"]
print(marks[-1])
print(marks[0:2])
print(marks[1:3])

for score in marks:
  print(score)

maths
[95, 98]
[98, 97]
95
98
97
maths

In [19]:
#list operations

marks = [67,66,68,69]
marks.append(61)
marks.insert(0,99)


print(99 in marks)
print(len(marks))

True
6

In [22]:
marks = [67,66,68,69]
i=0
while i<len(marks):
  print(marks[i])
  i=i+1

marks.clear()
print(marks)

67
66
68
69
[]

In [23]:
# break & continue

students =["Ram","shan","kishan","radha","radhika"]

for student in students:
  if student == "radha":
    break
  print(student)

Ram
shan
kishan

In [24]:
students =["Ram","shan","kishan","radha","radhika"]

for student in students:
  if student == "kishan":
    continue
  print(student)

Ram
shan
radha
radhika

In [27]:
#tuples

marks=(56,32,32,4,90)
print(marks.count(32))
print(marks.index(4))

2
3

In [28]:
#sets

marks = {45,6,5,3,3,23}
print(marks)

{3, 5, 6, 23, 45}

In [31]:
marks ={"english":95 ,"chemistry":90}
info = {"ram":"kishan"}
print(marks["chemistry"])

marks["physics"] =97
print(marks)

marks["physics"]=99
print(marks)

90
{'english': 95, 'chemistry': 90, 'physics': 97}
{'english': 95, 'chemistry': 90, 'physics': 99}

In [32]:
#in-built

import math

print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [33]:
from math import sqrt
print(sqrt(4))

2.0

In [35]:
#functions
def print_sum(first,second =4 ):
  print (first+second)

print_sum(1)

5

In [ ]:
#reading files

open("employess.text","r")
open("employess.text","r+") # read and write